@use "../../scss/variables" as *;

.pagination__list {
	display: flex;
	padding-bottom: 40px;
	justify-content: center;
	gap: 15px;
}

.pagination__item {
	width: 40px;
	height: 40px;
	border: 1px solid $color-light-darck;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color-darck-light;
	transition: all 0.3s;
	cursor: pointer;
	background-color: transparent;
	position: relative;

	svg {
		position: absolute;
	}
}

.pagination__item:hover,
.item-active {
	border: 1px solid $color-accent;
	color: $color-accent;
}

.disabled, .disabled:hover {
	cursor: not-allowed;
	border: 1px solid $color-light-darck;
	color: $color-light-darck;
}
