@use "../../scss/variables" as *;

.search {
  height: 45.5px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  border: 1px solid $color-light-darck;
  border-radius: 50px;
  box-shadow: 0 0 15px $color-light-darck;
  

	&__icon {
    width: 16px;
    color: $color-darck-light;
	}

	&__input {
    padding: 0 10px;
    width: 100%;
    height: 40px;
    border: none;
    color: $color-darck;
	}

  &__input:focus, &__input:focus-visible {
    color: $color-darck-light;
    outline: none;
  }
}
