@use "variables";
@use "components/header";
@use "components/button";
@use "components/categories";
@use "components/sort";
@use "components/pizza-item";
@use "components/not-found";
@use "components/empty";
@use "components/cart";
@use "components/cart-item";
@use "components/product";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: transparent;
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	font-family: "Nunito", sans-serif;
	padding: 0 10px;
	max-width: 1340px;
	margin: 0 auto;
	min-width: 320px;
	height: 100vh;
	font-size: 16px;
}

.content__top {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 32px;
  flex-wrap: wrap;
  gap: 40px;
}

.content__items {
	padding-top: 35px;
	display: flex;
	row-gap: 35px;
	column-gap: 65px;
	flex-wrap: wrap;
}


@media (max-width: 430px) {
	.content__items {
		justify-content: center;
	}
}